body {
    font-family: Arial, Helvetica, sans-serif;
}
.palettes {
    background-color: lightgoldenrodyellow;
}
.grid {
    display: inline-grid;
    margin-left: .5em;
    margin-right: .5em;
    grid-gap: 1px;
}

#lc-letters, #uc-letters, #digits {
    grid-template-columns: repeat(5, auto);
}

#symbols, #symbols-test {
    grid-template-columns: repeat(4, auto);
}

.button {
    width: 2em;
    text-align: center;
    border-radius: 4px;
    transition-duration: 500ms;
    transition-property: border;
}
.button:hover {
    box-shadow: 3px 3px #85b9f5;
}

#current-rule {
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
}

:disabled {
    background: #bbb;
}
colored-edit-area {
    display: inline-block;
    font-size: 150%;
    border-style: solid;
    border-width: 1px;
    padding: .3em;
    width: 20em;
    white-space: nowrap;
}

colored-edit-area.char {
    font-size: 100%;
    width: 1em;
}

#refresh {
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    border-radius: 5px;
    background-color: rgb(250, 230, 230) 5px solid #e7e7e7;
    margin-left: 1em;
    width: 300px;
}

#char-table {
margin-top: 4ex;
}
#char-table td{
text-align: center;
}

#buttons input {
    margin: 10px;
}

#edit-input {
    display: inline-block;
    width: 3em;
    padding: .2ex;
    background-color: white;
    border: 2px solid black;
}

#opposite-input {
    background-color: white;
}
#opposite-input input {
    color: inherit;
    background-color: inherit;
}

.action-area {
    background-color: lightblue;
}


/* styles for the open close match area */
#open-close-area {
    display: inline-grid;
    grid-template-columns: repeat(11, auto); 
    grid-row-gap:.5em;
    align-items: center;
    justify-items: center;
    margin-left: .5em;
    margin-right: .5em;
    grid-gap: .2em;
    grid-template-areas:
    ".     ol       ol     .    bl-t  bl-t  bl-t cl       cl      .     ."
    ".     o       o      .     bsl-t bs-t  .     c        c       .     ."
    ".     .       .      .     btl-t bt-t  bt-t  .        .       .     ."
    ".     .       bcl-t  bcl-t bcl-t bc-t  .     .        .       .     ."
    ".     .       bgl-t  bgl-t bgl-t bg-t  .     .        .       .     ."
    "mal-t mafgl-t mafg-t mao-t ma-t  ma-t  mac-t marfgl-t marfg-t mas-t masl-t"
    "mal-t mabgl-t mabg-t mao-t ma-t  ma-t  mac-t marbgl-t marbg-t mas-t masl-t"
    "vertsp .      .      .     .     .     .     .        .       .     ."
    "mal-b mafgl-b mafg-b mao-b ma-b  ma-b  mac-b marfgl-b marfg-b mas-b masl-b"
    "mal-b mabgl-b mabg-b mao-b ma-b  ma-b  mac-b marbgl-b marbg-b mas-b masl-b"
    ".     .       bgl-b  bgl-b bgl-b bg-b  .     .        .       .     ."
    ".     .       bcl-b  bcl-b bcl-b bc-b  .     .        .       .     ."
    ".     .       .      .     btl-b bt-b  bt-b  .        .       .     ."
    ".     .       .      .     bsl-b bs-b  .     .        .       .     ."
    ".     .       .      .     bl-b  bl-b  bl-b  .        .       .     ."
}

.match-open-char-label {
    font-weight: bold;
    grid-area: ol;
}

.match-close-char-label {
    font-weight: bold;
    grid-area: cl;
}

#match-open-char {
    grid-area: o;
}

#match-close-char {
    grid-area: c;
}

.border-label-top {
    justify-self: center;
    font-weight: bold;
    grid-area: bl-t;
}

.border-style-label-top {
    justify-self: right;
    grid-area:bsl-t;
}
#border-style-top {
    justify-self: left;
    grid-area: bs-t;
}

.border-thickness-label-top {
    justify-self: right;
    grid-area: btl-t
}
#border-thickness-top {
    justify-self: left;
    grid-area: bt-t;
}
.border-color-label-top {
    justify-self: right;
    grid-area: bcl-t;
}
#border-color-top {
    justify-self: left;
    grid-area: bc-t;
}
.bg-label-top {
    justify-self: right;
    grid-area: bgl-t;
}
#bg-top {
    justify-self: left;
    grid-area: bg-t;
}

.match-area-label-top {
    grid-area: mal-t;
    font-weight: bold;
}
.match-area-fg-label-top {
    grid-area: mafgl-t;
}
#match-area-fg-top {
    grid-area: mafg-t;
}
.match-area-bg-label-top {
    grid-area: mabgl-t;
}
#match-area-bg-top {
    grid-area: mabg-t;
}

.match-area-open-top{
    font-size: 200%;
    grid-area: mao-t;
}
#match-area-contents-top {
    grid-area: ma-t;  
}
.match-area-close-top{
    font-size: 200%;
    grid-area: mac-t;
}

.match-area-label-top {
    grid-area: mal-t;
}
.match-area-r-fg-label-top {
    grid-area: marfgl-t;
}
#match-area-r-fg-top {
    grid-area: marfg-t;
}
.match-area-r-bg-label-top {
    grid-area: marbgl-t;
}
#match-area-r-bg-top {
    grid-area: marbg-t;
}

#match-area-same-top {
    grid-area: mas-t;
}
.match-area-same-label-top {
    grid-area: masl-t;
}

.dummyVertSpace {
    margin-top: 2em;
    grid-area: vertsp;
}


.border-label-bottom {
    justify-self: center;
    font-weight: bold;
    grid-area: bl-b;
}

.border-style-label-bottom {
    justify-self: right;
    grid-area:bsl-b;
}
#border-style-bottom {
    justify-self: left;
    grid-area: bs-b;
}

.border-thickness-label-bottom {
    justify-self: right;
    grid-area: btl-b
}
#border-thickness-bottom {
    justify-self: left;
    grid-area: bt-b;
}
.bg-label-bottom {
    justify-self: right;
    grid-area: bgl-b;
}
#bg-bottom {
    justify-self: left;
    grid-area: bg-b;
}
.border-color-label-bottom {
    justify-self: right;
    grid-area: bcl-b;
}
#border-color-bottom {
    justify-self: left;
    grid-area: bc-b;
}

.match-area-label-bottom {
    grid-area: mal-b;
    font-weight: bold;
}
.match-area-fg-label-bottom {
    grid-area: mafgl-b;
}
#match-area-fg-bottom {
    grid-area: mafg-b;
}
.match-area-bg-label-bottom {
    grid-area: mabgl-b;
}
#match-area-bg-bottom {
    grid-area: mabg-b;
}

.match-area-open-bottom{
    font-size: 200%;
    grid-area: mao-b;
}
#match-area-contents-bottom {
    grid-area: ma-b;  
}
.match-area-close-bottom{
    font-size: 200%;
    grid-area: mac-b;
}

.match-area-label-bottom {
    grid-area: mal-b;
}
.match-area-r-fg-label-bottom {
    grid-area: marfgl-b;
}
#match-area-r-fg-bottom {
    grid-area: marfg-b;
}
.match-area-r-bg-label-bottom {
    grid-area: marbgl-b;
}
#match-area-r-bg-bottom {
    grid-area: marbg-b;
}

#match-area-same-bottom {
    grid-area: mas-b;
}
.match-area-same-label-bottom {
    grid-area: masl-b;
}


.rule-area {
    display: inline-grid;
    grid-row-gap:.5em;
    align-items: center;
    justify-items: center;
    margin-left: .5em;
    margin-right: .5em;
    grid-gap: .2em;
}

.rule-area button {
    width: auto;
    font-size: 12pt;
}

#rule-list-input {
    border: 2px solid orange;
    border-radius: 8px;
    padding: 5px;
    height: 1.2em;
    width: 15em;
  }

#removeAllRules {
    margin-top: 1em;
    background-color: salmon;
}

/* some styles for hiding/revealing content */
.accordion {
  background-color: rgb(225, 233, 250);
  cursor: pointer;
  padding: 2px;
  border: none;
  border-radius: 8px;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: rgb(185, 144, 252);
}

.accordion:before {
  content: '\25B6';
  color: #777;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.active:before {
  content: "\25BC";
}

.accordion h2 {
    display:inline;
}
.panel {
  display: none;
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
